@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');



body{

  background: #383838;
  background-image:  radial-gradient(#848484 3px, transparent 3px), radial-gradient(#494949 1.55px, #202020 1.55px);
  background-size: 100px 100px;
  background-position: 0 0,31px 31px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Lexend';
  font-size: 24px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  

}

.addremove{
  width: 15%;
}

.mycard{

  width: 250px;
  box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.2),
  2px 20px 20px 2px rgba(0, 0, 0, 0.2),
  2px 30px 30px 2px rgba(0, 0, 0, 0.2);
}


.itemImg{


  max-width: 10%;
  max-height: 10%;
  margin: auto;

}

.bg-secondary{


  background: linear-gradient(rgb(113, 57, 216), rgba(98, 43, 201, 0.95)) !important;


}
.bg-info{

  background: rgb(113, 57, 216) !important;

}

li{
  list-style: none;
}

.myNavBar{

  max-width: 1200px;
  width: 100%;


  /* QUITAR PARA VOLVER AL RESPONSIVE NAVBAR*/
  display: flex;
  justify-content: space-between;

}

.mymodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; 




}

.buySection{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1050;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;



}

.buyContainer{

  max-width: 1200px;
  width: 100%;



}

.navbar{

  z-index: 1000;

}

.modal-content {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.finalBuy{

  display: flex;
  justify-content: center;
  align-items: center;

}



.linkItem{

  opacity: .9;

}
.linkItem:hover{

  opacity: 1;

}
.Cpromotion{

  position: relative;
  width: 90%;
  height: 7em;


}
.Cpromotion > div > p{


  width: 100%;
  transition: opacity 0.5s ease-in-out;

}

/* .Cpromotion > div > img{

  width: 100%;
  height: 7em;
  object-fit: cover;
  filter: blur(.5px);
  opacity: 0;

} */


.container_img img {

  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: blur(.5px);
  transition: all .3s ease-in-out;
  padding: .2em;
  border-radius: 5px;


}




.container_img .active{


  opacity: .5;


}

.btn-anim{

  transition: all .1s ease-in-out;
  border-radius: 5px;


}

.btn-anim:active{

  background: #ffffff64;
  transform: scale(1.1);
}







#selectImg:hover{

  transition: all ease-in-out .3s;
  opacity: .7;

}

#btn-close{

  position: absolute;
  right: 0;
  top: 0;
  opacity: .5;  
}
#btn-close-buy{

  position: absolute;
  right: 0;
  top: 0;
  opacity: .5;  
}

#btn-close:hover{
  
  opacity: 1;
}
#btnItem{

  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 35px;
  height: 35px;
  opacity: .7;
}
#btnItem:hover{
  
  opacity: 1;
}

#btnFinalBuy{

  max-width: 500px;
  width: 100%;
  line-height: 40px;

}

#btnFinalBuy:active{

  background: #0d6dfd9f;
}

#logo{

  width: 50px;
  height: 50px;

}


.countItem{

  position: absolute;
  opacity: .85;
  bottom: -5px;
  width: 20px;
  height: 20px;
  font-size: .8em;
  box-shadow: 0px 0px 2px 4px rgba(13, 109, 253, 0.4);

}

.btn-buyItem{

  transition: all .1s ease-out;

}


.btn-buyItem:active{

  background: rgba(113, 57, 216, 0.5);
  transform: scale(.9);

}


.files{

  position: absolute;
  top: 0;
  left: 0;
  margin-left: 2px;


}






@media screen and (max-width: 1200px) {





  .navBar{

    display: flex;
    flex-direction: row-reverse;
    
  }

  .modal-content {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buySection{

   display: block;
   margin: auto;


  }

  .buyContainer{

    margin-top: 5em; 
    

  }

  #btn-close-buy{

    align-items: end;
    opacity: .5;


  }

  #btnFinalBuy{

    max-width: 500px;
    width: 80%;
    line-height: 40px;
    transition: all .3s ease-in;
  
  }



  #logo{

    width: 40px;
    height: 40px;
  
  }










  
}

@media screen and (max-width: 992px){

  /* .linkContainer{

     border-top: #fff 3px solid; 
  
  }
   */
  
}
