@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');



body{

  background: #242424;
  background-image: url('BGPrint3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Lexend';
  font-size: 24px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  

}

.addremove{
  width: 15%;
}

.mycard{

  width: 400px;
}


.itemImg{


  max-width: 10%;
  max-height: 10%;
  margin: auto;

}

.bg-secondary{


  background: linear-gradient(rgb(113, 57, 216), rgba(98, 43, 201, 0.95)) !important;

}

li{
  list-style: none;
}

.myNavBar{

  max-width: 1200px;
  width: 100%;

}

.mymodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
 


}

.buySection{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1050;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;



}

.buyContainer{

  max-width: 1200px;
  width: 100%;



}

.navbar{

  z-index: 1000;

}

.modal-content {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.finalBuy{

  display: flex;
  justify-content: center;
  align-items: center;

}



.linkItem{

  opacity: .9;

}
.linkItem:hover{

  opacity: 1;

}




#selectImg:hover{

  transition: all ease-in-out .3s;
  opacity: .7;

}

#btn-close{

  position: absolute;
  right: 0;
  top: 0;
  opacity: .5;  
}
#btn-close-buy{

  position: absolute;
  right: 0;
  top: 0;
  opacity: .5;  
}

#btn-close:hover{
  
  opacity: 1;
}
#btnItem{

  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 35px;
  height: 35px;
  opacity: .7;
}
#btnItem:hover{
  
  opacity: 1;
}

#btnFinalBuy{

  max-width: 500px;
  width: 100%;
  line-height: 40px;

}
#logo{

  width: 50px;
  height: 50px;

}


.countItem{

  position: absolute;
  opacity: .85;
  bottom: -5px;
  width: 20px;
  height: 20px;
  font-size: .8em;

}
 





@media screen and (max-width: 1200px) {


  .navBar{

    display: flex;
    flex-direction: row-reverse;
    
  }

  .modal-content {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buySection{

   display: block;
   margin: auto;


  }

  .buyContainer{

    margin-top: 5em; 
    

  }

  #btn-close-buy{

    align-items: end;
    opacity: .5;


  }

  #btnFinalBuy{

    max-width: 500px;
    width: 80%;
    line-height: 40px;
  
  }

  #logo{

    width: 40px;
    height: 40px;
  
  }










  
}

@media screen and (max-width: 992px){

  .linkContainer{

    border-top: #fff 3px solid;
  
  }
  
  
}